.calendar {
	//padding: 0;
	$borderColor: #d4d4d4;
	border-bottom: 1px solid $borderColor;

	.date-limite-container {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.date-limite-img {
			min-width: 84px;
		}

		.date-limite {
			font-weight: 600;
			font-size: 25px;
			color: $color-blue;
			text-transform: uppercase;
			line-height: 1.2;
			margin: 0 10px;

			span {
				text-transform: none;
				font-weight: normal;
				font-size: 11px;
				color: $color-grey;
				float: right;
				position: relative;
				left: -45px;
				line-height: 1.1;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		.date-limite-container {
	
			.date-limite-img {
				min-width: auto;
				width: 55px;
			}
	
			.date-limite {
				font-size: 16px;
	
				span {
					font-size: 8px;
					left: -30px;
				}
			}
		}
	}

	.circle {
		background-color: $color-blue;
		border-radius: 50%;
		width: 66px;
		height: 66px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		.day {
			font-size: 23px;
			font-weight: 900;
			color: $white;
			line-height: 1.1;
		}

		.month {
			font-size: 12px;
			font-weight: 900;
			color: $white;
			text-transform: uppercase;
		}
	}

	.circle-text {
		color: $color-grey;
		font-weight: bold;
		text-align: center;
		font-size: 14px;
		margin-top: 10px;
	}

	.line {
		position: absolute;
		top: 21px;
		border-top: 1px solid $color-grey-50;
		width: 135px;
		height: 20px;

		&.left {
			border-left: 1px solid $color-grey-50;
			left: -97px;
		}
		&.right {
			border-right: 1px solid $color-grey-50;
			left: 150px;
		}
	}
	@include media-breakpoint-down(lg) {
		.line {
			width: 100px;
			&.left {
				border-left: 1px solid $color-grey-50;
				left: -81px;
			}
			&.right {
				border-right: 1px solid $color-grey-50;
				left: 137px;
			}
		}
	}
	@include media-breakpoint-down(md) {
		.line {
			width: 123px;
			&.left {
				border-left: 1px solid $color-grey-50;
				left: -91px;
			}
			&.right {
				border-right: 1px solid $color-grey-50;
				left: 146px;
			}
		}
	}

	.par {
		font-weight: bold;
		font-size: 14px;
		color: $color-grey-50;
		position: absolute;
		text-transform: uppercase;
		width: 102px;
		left: 50%;
		top: 10px;
		transform: translateX(-50%);
	}

	@include media-breakpoint-down(sm) {
		.par {
			position: relative;
			left: unset;
			top: unset;
			text-align: center;
			width: auto;
			transform: unset;
		}
	}
}
