.defisc {
	padding: 0;
	$borderColor: #d4d4d4;
	border-bottom: 1px solid $borderColor;

	.col-left {
		border-right: 1px solid $borderColor;
	}

	@include media-breakpoint-down(sm) {
		border-bottom: none;

		.col-left {
            border-right: none;
            border-bottom: 1px solid $borderColor;
        }
        
        .col-right {
            border-bottom: 1px solid $borderColor;
		}
	}

	.faites {
		font-size: 33px;
		font-weight: 300;
		color: $color-grey;
		text-transform: uppercase;

		span {
			font-weight: 600;
			color: $color-orange;
		}
    }
    
    .blue-separator {	
		width: 50px;
		height: 5px;
		background-color: $color-blue;
        border-radius: 5px;
        margin: 15px 0;
    }

    .reconnue {
        color: $color-grey;
        font-size: 18px;
    }

    .vous-etes {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .circle-background {
        display: flex;
        background-image: url('../img/circle-75.png');
        width: 186px;
        height: 188px;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .circle-amount {
            font-size: 66px;
            font-weight: 300;
            color: $color-blue;
        }
    }

    .redevable {
        margin-top: 10px;
        color: $color-grey;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }

    .recu-fiscal {
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }
}
