.header, .squares {    
    .image-square-wrapper {
        position: relative;
        width: 100%;
        min-height: 50vh;
        height: 100%;
        display: block;
        overflow: hidden;

        .background {
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .text-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            position: absolute;
            z-index: 2;
            bottom: 8px;
            left: 10px;

            .picto {
                //height: 24px;
                //width: 22px;
                margin-right: 5px;
            }

            .text {
                color: $white;
                font-weight: bold;
                font-size: 12px;
            }
        }

        &:hover {
            color: $white;
        }
    }
}