<section class="post-avec">
	<div class="container p-0">
		<div class="row no-gutters">
			<div class="col-12 col-md-6 col-left">
				<div class="p-5 avec-container">
					<p class="avec">AVEC VOTRE DON <span><br>NOUS POURRONS</span></p>
					<div class="orange-separator"></div>
					<ul class="avec-list">
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Équiper nos hôpitaux de respirateurs et tensiomètres
							</span>
						</li>
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Intensifier la formation de personnels soignants à la prise en
								charge des patients Covid-19
							</span>
						</li>
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Accompagner logistiquement les équipes soignantes (transport, garde
								d’enfant…)
							</span>
						</li>
					</ul>
					@@include('../../../partials/_button-don.html', { href: 'https://univ-catholille.iraiser.eu/b?cid=10', maxWidth: '370px'})
				</div>
			</div>
			<div class="col-12 col-md-6 col-right">
				<div class="p-5 aussi-container">
					<p class="aussi">ET AUSSI</p>
					<div class="orange-separator"></div>
					<ul class="aussi-list">
						<li class="aussi-list-item">
							<span class="aussi-list-item-text"
								>Activer une cellule de soutien psychologique aux soignants pour les
								aider à tenir et leur transmettre vos messages
								d’encouragement.</span
							>
						</li>
                    </ul>
                    <a class="button-message zoomOnHover" href="https://univ-catholille.iraiser.eu/b?cid=10" target="_blank">
                        <div class="picto-container">
                            <img src="@@webRoot/assets/img/picto/button-arrow-red.png" alt=""/>
                        </div>
                        <div class="text-container">
                            JE REDIGE UN MESSAGE DE SOUTIEN
                        </div>
                    </a>
				</div>
			</div>
		</div>
	</div>
</section>
