<section class="post-avec LP-3">

	<div class="row no-gutters background position-absolute w-100 h-100">
		<div class="col-12 col-md-6"></div>
		<div class="col-12 col-md-6 background-img"></div>
	</div>

	<div class="container p-0">
		<div class="row no-gutters">
			<div class="col-12 col-md-6 col-left">
				<div class="p-5 avec-container">
					<p class="avec">AVEC VOTRE DON<br><span>NOUS POURRONS</span></p>
					<div class="orange-separator"></div>
					<ul class="avec-list mb-0">
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Mettre en place une cellule de soutien psychologique pour les étudiants de la santé en stage et aujourd’hui en première ligne
							</span>
						</li>
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Créer un fonds d’aide à l’hébergement pour les étudiants dans l’incapacité d’assumer leur loyer pendant le confinement
							</span>
						</li>
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Créer un fonds d’aide alimentaire pour supporter le coût supplémentaire de leurs repas engendré par la fermeture des Restaurants Universitaires
							</span>
						</li>
					</ul>
					@@include('../../../partials/_button-don.html', { href: 'https://univ-catholille.iraiser.eu/b?cid=10', maxWidth: '370px'})
				</div>
			</div>
			<div class="col-12 col-md-6 col-right">
				<div class="p-5 background-img">
					
				</div>
			</div>
		</div>
	</div>
</section>
