<section class="post-avec LP-4">
	<div class="container p-0">
		<div class="row no-gutters">
			<div class="col-12 col-md-6 col-left">
				<div class="p-5 avec-container">
					<p class="avec">AVEC VOTRE DON <span><br>NOUS POURRONS</span></p>
					<div class="orange-separator"></div>
					<ul class="avec-list">
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Coordonner le service de gardes d’enfants initié par les étudiants dans les foyers du personnel soignant de nos Hôpitaux et de nos EHPAD.
							</span>
						</li>
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Réamorcer l’ouverture de l’épicerie solidaire pour permettre aux étudiants dans le besoin de se nourrir à leur faim à la sortie de la crise.
							</span>
						</li>
					</ul>
					@@include('../../../partials/_button-don.html', { href: '#', maxWidth: '370px'})
				</div>
			</div>
			<div class="col-12 col-md-6 col-right">
				<div class="p-5 besoin-container">
					<p class="besoin">Besoin</p>
					<p class="amount-besoin">30&nbsp;000&nbsp;€</p>
				</div>
			</div>
		</div>
	</div>
</section>
