<section class="post-avec LP-2">

	<div class="row no-gutters background position-absolute w-100 h-100">
		<div class="col-12 col-md-6"></div>
		<div class="col-12 col-md-6 background-img"></div>
	</div>

	<div class="container p-0">
		<div class="row no-gutters">
			<div class="col-12 col-md-6 col-left">
				<div class="p-5 avec-container">
					<p class="avec">AVEC VOTRE DON<br> NOUS POURRONS<span><br>fournir au personnel soignant</span></p>
					<div class="orange-separator"></div>
					<ul class="avec-list mb-0">
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								Le matériel indispensable pour assurer les visites dans les conditions sanitaires
								requises : masques, gants, charlottes, sur-chaussettes, SHA, surblouses…
							</span>
						</li>
					</ul>
					<p class="avec"><span><br>Et aux résidents</span></p>
					<div class="orange-separator"></div>
					<ul class="avec-list">
						<li class="avec-list-item">
							<span class="avec-list-item-text">
								60 enceintes portatives
							</span>
						</li>
					</ul>
					@@include('../../../partials/_button-don.html', { href: 'https://univ-catholille.iraiser.eu/b?cid=10', maxWidth: '370px'})
				</div>
			</div>
			<div class="col-12 col-md-6 col-right">
				<div class="p-5 background-img">

				</div>
			</div>
		</div>
	</div>
</section>
