<section class="contact">
	<div class="row no-gutters background position-absolute w-100 h-100">
		<div class="col-12 col-md-6"></div>
		<div class="col-12 col-md-6 bg-gradient-blue"></div>
    </div>

	<div class="container">
		<div class="row no-gutters">
			<div class="col-12 col-md-6">
				<div class="px-3 py-5 px-md-5">
					<p class="vous-etes">Vous êtes<br />une entreprise ?</p>
					<div class="orange-separator"></div>
					<p class="deductible mr-5 mr-md-0 mr-lg-5">
						60% du montant de votre don à la Fondation de la Catho de Lille sont
						déductibles de l’Impôt sur les Sociétés, dans la limite de 20 000 € ou de
						0,5% du chiffre d’affaires si votre entreprise réalise moins de 2 millions
						d’euros de dons par an. Au-delà, la déduction est de 40%.
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="bg-gradient-blue pl-3 pr-3 pl-md-5 pr-md-0 pr-lg-5 pt-5 pb-5">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-8 pr-0 pr-lg-4">
                            <p class="pour-toute">POUR TOUTE<br>INFORMATION</p>
                            <div class="orange-separator"></div>
                            <p class="complementaire">
                                complémentaire sur la fiscalité
                                et votre don, n’hésitez pas à contacter <b>Diane Feraille, votre interlocutrice dédiée</b>.
                            </p>
                            <div class="text-picto-container">
                                <img class="picto" src="@@webRoot/assets/img/picto/phone.png"/>
                                <p class="text">03 20 13 40 44</p>
                            </div>
                            <div class="text-picto-container">
                                <img class="picto" src="@@webRoot/assets/img/picto/mail.png"/>
                                <p class="text">Diane.Feraille@univ-catholille.fr</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex h-100 align-items-center">
                                <img class="interlocutrice-img mt-3 mt-md-0" src="@@webRoot/assets/img/interlocutrice.png"/>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
