<section class="edito">
    <img class="quote left" src="@@webRoot/assets/img/picto/quote.png" />
    <img class="quote right" src="@@webRoot/assets/img/picto/quote.png" />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row no-gutters president-container">
                    <div class="col-7 col-md-8 d-flex justify-content-end align-items-center">
                        <p class="title">
                            <b>Thérèse Lebrun</b><br>
                            Président-Recteur délégué<br>
                            secteur Santé / Social<br>
                            Université Catholique de Lille</p>
                    </div>
                    <div class="col-5 col-md-4">
                        <img class="president-img" src="@@webRoot/assets/img/president.png"/>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p class="appel">Bilan de la crise et perspectives : il est urgent de croire en un monde meilleur. Mobilisez-vous à nos côtés, bâtissez l’Espérance&nbsp;!</p>
                <p class="collapse" id="paragraph-to-expand">
                  Le déconfinement est maintenant bien avancé, une nouvelle période de la crise où les questions, les craintes, les espoirs, ainsi que les projets à relancer ou à redessiner s’imposent à nous. À ce jour, je tiens à partager avec vous le bilan de notre mobilisation sans faille face à l’épidémie de Covid-19.
                    <br><br>
                    <span class="big">Regardons légèrement en arrière…</span>
                    <br><br>
                    Au sein de nos trois hôpitaux, dans les 140 lits et 12 unités dédiées, et hors services de réanimation, nous avons accueilli 700 patients atteints du coronavirus, soit la moitié du nombre de patients pris en charge au CHU de Lille, pour une taille cinq fois moindre.
                    <br>
                    En réanimation, nos 18 lits se sont avérés essentiels au plus fort de la crise. Mobilisation des équipes, déprogrammation des activités non urgentes, formation des personnels au combat contre le virus, gestion de la problématique de l’approvisionnement en masques, en médicaments réanimatoires, en matériel…
                    <br>
                    <b>Comme le dirait le colibri de Pierre Rabhi « nous avons fait notre part du job »</b>. Quant à nos EHPAD, nous avons réussi le pari de ne pas laisser l‘épidémie franchir nos portes afin de protéger nos aînés !
                    <br><br>
                    <span class="big">Dès à présent, il nous faut regarder droit devant et relever les nouveaux défis qui s’imposent à nous ! </span>
                    <br><br>
                    Dans les plus brefs délais, nous devons notamment relancer nos services de médecine et chirurgie qui ont été mis entre parenthèses, lorsque c’était possible, bien entendu. Nous devons rattraper les retards pris, et offrir aux nombreux patients atteints de maladies chroniques, ou encore devant subir une intervention, tous les soins dont ils ont besoin.
                    <br>
                    Et face aux incertitudes qui demeurent quant à un retour de l’épidémie, nous devons aussi rester prêts à intervenir au cas où des patients Covid nous seraient à nouveau adressés en nombre.
                    <br><br>
                    <span class="big">Tirons les enseignements et projetons-nous maintenant plus en avant…</span>
                    <br><br>
                    Comme dans toutes les entreprises, institutions, organisations, il nous faut prendre le temps de tirer les leçons de la traversée de cette crise, à tous les niveaux, et d’étudier l’impact de l’épidémie sur l’année 2020, en fixant déjà le regard vers 2021.
                    <br><br>
                    Les soignants ont beaucoup donné. Certains sont fatigués et stressés d’une situation lourde à laquelle il a fallu faire face. Les pathologies chroniques et celles survenues au cours de l’épidémie doivent maintenant être bien repérées, suivies, traitées, au moment où l’été et les périodes de vacances approchent. La vigilance et l’adaptation restent de mise.
                    <br><br>
                    Il en est de même au sein de nos EHPAD. Les projecteurs ont été portés sur de nombreuses questions : prise en charge du très grand âge en France, solitude, accompagnement, y compris de la dernière étape de vie, regard lucide et partagé sur ces enjeux, points de vue à confronter, parfois à réconcilier… Au-delà de la reconnaissance d’un 5ème risque en protection sociale lié à la dépendance, n’abandonnons pas le débat, cette crise passée. De vraies questions y ont été posées et la société y a été sensibilisée.
                    <br><br>
                    Je veux aussi vous parler de nos 120 enfants en ITEP (Institut Thérapeutique, Educatif et Pédagogique Etienne Leclercq, à Croix/Roubaix). Nous avons poursuivi le suivi à distance de ces enfants désormais confinés dans leurs familles ou leurs foyers. Des accueils de répit, pour les enfants et les familles, ont été mis en place. Ces jeunes lourdement atteints nous arrivent aujourd’hui au travers de nos autorités de tutelle et là encore, l’inventivité, l’adaptation, l’organisation, et le débat sont requis.
                    <br><br>
                    Nous avons également une pensée pour les quelque 17 000 soignants en France atteints au cours de cette lourde période par le Covid-19, six fois plus, proportionnellement, que dans la population générale. Ces soignants, plus jeunes et présentant en moyenne moins de facteurs de risques, se sont, en règle générale, mieux et plus rapidement remis de cette atteinte. Nous leur sommes reconnaissants de leur engagement, de leur professionnalisme et de leur dévouement.
                    <br><br>
                    Au cours de cette longue épreuves, des solidarités se sont fait jour, des liens se sont tissés, des apprentissages se sont déployés à grande vitesse. Les équipes de direction et d’administration de notre belle institution, rarement citées, ont été aux commandes en permanence, une implication de chaque instant qui a été déterminante pour faire face à ces terribles moments.
                    <br><br>
                    Il reste désormais à poursuivre la route en tirant les enseignements de ce qui vient d’être vécu et à affronter maintenant les dégâts engendrés par cette crise lourde de conséquences, notamment sur les plans économique et social.
                    <br><br>
                    <b>Plus que jamais, il nous faut croire en un monde meilleur, et avec votre soutien, ensemble, nous rebâtirons l’Espérance ! Merci à tous.</b>
                </p>
            </div>
        </div>
    </div>
    <a class="plus-container" href="#paragraph-to-expand" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="paragraph-to-expand">
        <img src="@@webRoot/assets/img/picto/plus.png" alt="+" />
        <img class="hidden" src="@@webRoot/assets/img/picto/moins.png" alt="-" />
    </a>
</section>
