<header class="header">
        <div class="row no-gutters">
            <div class="col-md-8 col-lg-12 bg-gradient-blue p-3 p-md-5">
                <div class="d-flex flex-row flex-wrap">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row flex-wrap">
                            <p class="devenez">Devenez</p>
                            <p class="batisseurs">Bâtisseurs d'Espérance</p>
                        </div>
                        <div class="orange-separator"></div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <ul class="bullet-point-list">
                            <li class="bullet-point-item">Pour faire face AUJOURD’HUI à la crise du coronavirus</li>
                            <li class="bullet-point-item">Pour créer un monde meilleur dès DEMAIN</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-block d-lg-none">
                @@include('_image-square.html', {
                    href: '/LP-3/LP-3.html',
                    backgroundImg: '@@webRoot/assets/img/image-square-3-bg.png',
                    pictoImg: '@@webRoot/assets/img/picto/image-square-red-picto.png',
                    text: 'Il est URGENT d’accompagner nos 240 étudiants confinés dans leur chambre universitaire'
                })
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-3">
                @@include('_image-square.html', {
                    href: '/LP-1/LP-1.html',
                    backgroundImg: '@@webRoot/assets/img/image-square-1-bg.png',
                    pictoImg: '@@webRoot/assets/img/picto/image-square-red-picto.png',
                    text: 'Il est URGENT de soutenir notre corps soignant'
                })
            </div>
            <div class="col-md-4 col-lg-3">
                @@include('_image-square.html', {
                    href: '/LP-2/LP-2.html',
                    backgroundImg: '@@webRoot/assets/img/image-square-2-bg.png',
                    pictoImg: '@@webRoot/assets/img/picto/image-square-red-picto.png',
                    text: 'Il est URGENT de protéger nos aînés résidents dans nos EHPAD'
                })
            </div>
            <div class="d-none d-lg-block col-lg-3">
                @@include('_image-square.html', {
                    href: '/LP-3/LP-3.html',
                    backgroundImg: '@@webRoot/assets/img/image-square-3-bg.png',
                    pictoImg: '@@webRoot/assets/img/picto/image-square-red-picto.png',
                    text: 'Il est URGENT d’accompagner nos 240 étudiants confinés dans leur chambre universitaire'
                })
            </div>
            <div class="col-md-4 col-lg-3">
                @@include('_image-square.html', {
                    href: '/LP-4/LP-4.html',
                    backgroundImg: '@@webRoot/assets/img/image-square-4-bg.png',
                    pictoImg: '@@webRoot/assets/img/picto/image-square-blue-picto.png',
                    text: 'Il est ESSENTIEL de faire vivre les projets et initiatives étudiantes'
                })
            </div>
        </div>
</header>