<nav class="nav desktop">
    <div class="my-container">
        <div class="mr-auto logo">
            <a href="/"><img class="" src="@@webRoot/assets/img/nav-logo.png"/></a>
        </div>
        <div class="links">
            <a href="#pourquoi-nous" class="link-container zoomOnHover anchor">
                <img class="picto" src="@@webRoot/assets/img/picto/picto-nav-1.png" />
                <p class="text">Pourquoi soutenir<br>la Fondation</p>
            </a>
            <a href="#dates-limites" class="link-container zoomOnHover anchor">
                <img class="picto" src="@@webRoot/assets/img/picto/picto-nav-2.png" />
                <p class="text">Les dates limites pour profiter<br>de votre avantage fiscal</p>
            </a>
            <div class="link-container">
                @@include('_button-don.html', {
                    href: 'https://univ-catholille.iraiser.eu/b?cid=10',
                    maxWidth: '304px'
                })
            </div>
        </div>
    </div>
</nav>