<section class="pourquoi-nous" id="pourquoi-nous">
	<div class="row no-gutters">
        <div class="col-12 col-md-6 background order-12 order-md-1">
			<div class="px-3 py-5 px-md-5"></div>
		</div> 
		<div class="col-12 col-md-6 order-1 order-md-12">
			<div class="px-3 py-5 px-md-5">
				<p class="pourquoi">Pourquoi soutenir<br><span>LA FONDATION ?</span></p>
                <div class="blue-separator"></div>
                
				<div class="check-list">
					<div class="check-group">
						<div><img src="@@webRoot/assets/img/picto/check.png" /></div>
                        <p class="check-text">Reconnue d’utilité publique</p>
                    </div>
                    <div class="check-group">
						<div><img src="@@webRoot/assets/img/picto/check.png" /></div>
                        <p class="check-text">130 bourses décernées en moyenne par an</p>
                    </div>
                    <div class="check-group">
						<div><img src="@@webRoot/assets/img/picto/check.png" /></div>
                        <p class="check-text">Plus de 32 000 étudiants impactés par nos actions</p>
                    </div>
                    <div class="check-group">
						<div><img src="@@webRoot/assets/img/picto/check.png" /></div>
                        <p class="check-text">Accompagnement de 500 résidents dans 3 EHPAD</p>
                    </div>
                    <div class="check-group">
						<div><img src="@@webRoot/assets/img/picto/check.png" /></div>
                        <p class="check-text">3 hôpitaux avec un devoir d’accueil équivalent à ceux de l’hôpital publique, ne facturant pas de dépassement d’honoraires et accueillant autant de personnes bénéficiant de la CMU.</p>
                    </div>
                    <div class="check-group">
						<div><img src="@@webRoot/assets/img/picto/check.png" /></div>
                        <p class="check-text">Accompagne le développement de 2 quartiers d’innovation sociale : Humanicité et Saint Antoine</p>
                    </div>
                </div>
                
			</div>
        </div>
	</div>
</section>
